
<a class="arrow-back" href="" routerLink="" style="text-decoration:none">
    <i class="material-icons left" [ngStyle]="{'color': text_color_white? 'white' : 'black'}" >arrow_back</i>
</a>

<!--
<div class="preloader" style="opacity: 1;">

    <div class="text text-h1" >
        {{nome_cidade}}
    </div>
    
    <div class="text text-h2" >
        <div class="wrapper-descricao">
        {{descricao}}
        </div>
    </div>
    
    

    <div class="text text-h3" >
        <div class="wrapper-temp">
            <div>
                {{temp_atual}}
            </div> 
            
            <div class="text text-h4">
                °C
            </div>
            <div class="text text-h5 ">
                <div class="wrapper-temp-min-max">
                    <i class="material-icons left" >arrow_upward</i>
                    {{temp_max}} 
                    <div>°</div>
                </div> 
                <div class="wrapper-temp-min-max">
                    <i class="material-icons left" >arrow_downward</i>
                    {{temp_min}}
                    <div>°</div>
                </div>
                 
            </div> 
        </div>
         
        
    

    </div>

</div>

-->

<div class="container" >
    <div class="nomecidade" [ngStyle]="{'color': text_color_white? 'white' : 'black'}">{{nomecidade}}</div>
    <div class="descricao" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{descricao}} </div>
    <div class="temp_atual">  </div>
    <div class="temp_atual_value"[ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{temp_atual}} </div>
    <div class="celcius_simbol">
        <div class="celcius_simbol_value"[ngStyle]="{'color': text_color_white? 'white' : 'black'}">°C</div>
      </div>
      <div class="temp_max" [ngStyle]="{'color': text_color_white? 'white' : 'black'}">
        <i class="material-icons left" [ngStyle]="{'color': text_color_white? 'white' : 'black'}">arrow_upward</i>
        {{temp_max}}°
      </div>
      <div class="temp_min" [ngStyle]="{'color': text_color_white? 'white' : 'black'}">
        <i class="material-icons left" [ngStyle]="{'color': text_color_white? 'white' : 'black'}" >arrow_downward</i>
        {{temp_min}}°
      </div>
    <div class="icon_temp_atual"> <img src={{url_icon_temp_atual}} alt="icon_temp_atual" width="130" height="130"> </div>
    <div class="text_dawn" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> dawn </div>
    <div class="text_morning" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> morning</div>
    <div class="text_afternoon" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> afternoon </div>
    <div class="text_night" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> night </div>
    <div class="icon_temp_dawn"> <img src={{url_icon_temp_dawn}} alt="icon_temp_dawn"></div>
    <div class="icon_temp_morning"> <img src={{url_icon_temp_morning}} alt="icon_temp_morning"> </div>
    <div class="icon_temp_afternoon"> <img src={{url_icon_temp_afternoon}} alt="icon_temp_afternoon"> </div>
    <div class="icon_temp_night"><img src={{url_icon_temp_night}} alt="icon_temp_night"> </div>
    <div class="temp_dawn" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{temp_dawn}}°C</div>
    <div class="temp_morning" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{temp_morning}}°C</div>
    <div class="temp_afternoon" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{temp_afternoon}}°C </div>
    <div class="temp_night" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{temp_night}}°C </div>
    <div class="text_wind_speed" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> wind speed </div>
    <div class="text_sunrise" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> sunrise </div>
    <div class="text_sunset" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> sunset </div>
    <div class="text_humidity" [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> humidity</div>
    <div class="veloc_vento_mps"  [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{veloc_vento_mps}} </div>
    <div class="horario_nascer_sol"  [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{horario_nascer_sol}} </div>
    <div class="horario_por_do_sol"  [ngStyle]="{'color': text_color_white? 'white' : 'black'}">{{horario_por_do_sol}}</div>
    <div class="humidade"  [ngStyle]="{'color': text_color_white? 'white' : 'black'}"> {{humidade}} </div>
  </div>
